
/*Menu*/
.header{
   background-color: red;
}

.tags{
    color: white;
}
.logo{
    max-width: 150px;
}


/* Lançamentos */
.main_lancamento{
    background-color: rgb(226, 224, 224);
    padding-bottom: 25px;
    padding-top: 5px;
}
.imagemCarousel{
    width: 100%;
}
/* Destaque */

.destques{
    margin-top: 10px;
}
.card{
    width: 100%;
}

.card-text{
    color: #212529;
}

.carregar_filmes{
    text-align: right;
    margin-top: 20px;
}

/* Últimas Avaliações */
.ultimas_avaliacoes{
    padding-bottom: 10px;
    padding-top: 15px;
}
.img_perfil{
    height:100%; 
    width: 100%;
}

/* Entrevistas & Making of*/
.entrevistas_makingof{
    padding-bottom: 20px;
    background-color: rgb(226, 224, 224);
    padding-top: 15px;
}

.background{
    background-color: rgb(226, 224, 224);
}

.carregar_avaliacoes{
    text-align: right; margin-top: 10px;
}

/* Novidade / Sobre / Editorial */

.novidades{
    padding-top: 15px;
}

.img_novidade{
    height:95%;
    width:100%;
}

.img_novidade2{
    height:95%;
    width:100%;
}

.img_novidade3{
    height:85%;
    width:100%;
    margin-top: 5px;
}

.novidade2{
    margin-top: 10px;
}

.sobre{
    padding-top: 15px;
}

.editorial{
    padding-top: 50px;
    padding-bottom: 10px;
}

.text-editorial{
    padding-bottom: 15px;
}

.redes-sociais{
    padding-top: 40px;
}

.logo-rede-sociais{
    padding-top: 15px;
    max-width: 70%;
}

/* footer */

.footer{
    background-color: #212529;
}

.copy{
    text-align: center;
    padding-top: 15px;
    color: white
}
/* Media Querie / Menu Mobile*/

@media screen and (max-width: 992px) {
    .carousel-item img {
        width: 80%;
        padding-left: 20%;
    }

    .container-info {
        margin-top: 10%;
        padding-left: 10%;
        margin-right: 18%;
        margin-bottom: 10%;
    }
}

.card-img-top {
    width: 100%;
    height: 100%;
}

.profile-header-container {
    margin: 0 auto;
    text-align: left;
    margin-top: 0;
}

.profile-header-img {
    padding: 54px;
}

img.img-circle {
    width: 100%;
    height: 100%;
}

.fa {
    color: white;
    width: 50px;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 10px;
}

.fa:hover {
    opacity: 0.8;
}

.footertext {
    margin-top: 15px;
    align-self: center;
    color: #212529;
}